@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
	font-family: 'Space Mono', monospace;
	margin: 0 auto;
	padding: 0;
	background: #2f3036;
	color:white;
}

body {
	justify-content: center;
	text-align: center;
}

#contenido {
	margin-top: 250px;
	display: flex;
	flex-direction: column;
	width: 90%;
} 

#texto {
	margin-bottom: 25px;
	font-weight: normal;
	font-size: 50px;

	overflow: hidden;
	border-right: .20em solid white;
	width: 0;
	animation: typing 1s steps(20, end) forwards;
} span {
	color: #3a89d7;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }

#name {
	border-radius: 20px;
	padding: 15px;
	width: 30%;
	font-size: 35px;
	text-align: center;
}

p {
	font-size: 40px;
}

a {
	color: #3a89d7;
}

#name {
	margin-bottom: 25px;
}

.boton {
	padding: 15px;
	margin: 10px;
	font-size: 35px;
	border-radius: 20px;
}

/*div {
	font-size: 35px;
	color: royalblue;
}*/